.logo {
    width: 20rem;
    height: auto;
}

.jumbotron{
    background-color: #4e555b;
    padding: 2em 0;
    background-image: url("../image/logo2.png");
}
.navbar-nav{
    gap: 1rem;
}

.nav-link:hover{
    color: #1b1e21;
    text-decoration: underline;
}

footer{
    margin-top: 200px;
}


