.logo {
    width: 20rem;
    height: auto;
}

.jumbotron{
    height: 17rem;
    padding: 2em 0;
    background-position: center;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.blackOverlay{
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100vw;
    height: 17rem;
    z-index: 5;
}
.navbar-nav{
    gap: 1rem;
}

.nav-link:hover{
    color: #1b1e21;
    text-decoration: underline;
}

footer{
    margin-top: 200px;
}


