{% extends 'admin.base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3">Sushi Toevoegen</h1>

        {{ include('product/_form.html.twig') }}

        <a href="{{ path('product_index') }}">Terug</a>
    </div>

{% endblock %}
